* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  header {
    background-color: #ffffff;
    border-bottom: 1px solid #f8e0fb;
  }

.con1{
   
    width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 1440px;
    height: 76px;
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
    display: flex;
    order: 0;
    flex-grow: 0;
    justify-content: space-between;
    
}

header .logo{
position: absolute;
width: 151px;
height: 40px;
left: calc(50% - 151px/2 - 0.5px);
top: calc(40px/2);
}




.list1{
display: flex;
padding: 0px;

justify-content: space-between;
width: 274px;
height: 44px;
left: 70px;
margin-top: 16px;
list-style:none;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;

opacity: 0.5;

}

.list1 li{


  align-items: center;
  padding: 12px;
  height: 44px;

}

.list1 li a{
  text-decoration: none;
  color: black;
  line-height: 20px;
}


.list2{
  display: flex;
  padding: 0px;
  
  justify-content: space-between;
  width: 274px;
  height: 44px;
  right: 70px;
  margin-top: 16px;
  list-style:none;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  
  opacity: 0.5;
  
  }
  
  .list2 li{
  
  
    align-items: center;
    padding: 12px;
    height: 44px;
  
  }
  
  .list2 li a{
    text-decoration: none;
    color: black;
    line-height: 20px;
  }

  .sec1{
    width: 1440px;
    height: 574px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .sec1_con1{
    
 
    position: absolute;
    height: 500px;
    left: 0px;
    right: 0px;
    top: calc(50% - 500px/2);

    
  }

  .sec1_con2 {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    left: calc(50% - 856px/2);
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);

    
  }

  .col2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    left: calc(50% - 856px/2);
    top: 80px;

  }

.sec1_con3 h1{
font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;
text-align: center;
color: #000000;
text-shadow: -5px 5px 0px #FFFFFF;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }


  .sec1_con4{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 48px;
gap: 10px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

  }
  
  .sec1_con4 p{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    flex: none;
    order: 0;
    flex-grow: 1;
  }


  .sec1_con5 button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 114px;
    height: 52px;
    background: #532C59;
    border-radius: 15px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }


  .sec1_con5 button a{
    font-family: 'Syne';
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .sec2{
    width: 1440px;
    height: 120px;
   opacity: 0.8;
   flex: none;
   order: 2;
   flex-grow: 0;
   margin-top: 40px;
  }
  
  .col4{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 48px;
  
  }


  .col4 img{
    position: absolute;
    width: 1300px;
    height: 40px;
  left: calc(50% - 1300px/2);
 
  }
  

  .sec3{
    width: 1440px;
    height: 2075px;
    flex: none;
    order: 3;
   flex-grow: 0;
  }

  .col5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    position: absolute;
    width: 1300px;
    height: 1922px;
    left: calc(50% - 1300px/2);

  }

  .sec3_col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 1300px;
    height: 128px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .sec3_h1{
    width: 1300px;
  height: 64px;

   font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }


  .sec3_p{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px 240px;
gap: 10px;

width: 1300px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
  }

  .sec3_p p{
    width: 820px;
height: 48px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #532C59;
flex: none;
order: 0;
flex-grow: 1;
  }

.sec3_col2{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 1300px;
height: 548px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.card1{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 412px;
height: 506px;
flex: none;
order: 0;
flex-grow: 1
}


.par1{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 412px;
height: 94px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.card2{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 412px;
height: 506px;
flex: none;
order: 0;
flex-grow: 1
}


.par2{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 412px;
height: 94px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.card3{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 412px;
height: 506px;
flex: none;
order: 0;
flex-grow: 1
}


.par3{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 412px;
height: 94px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}



.sec3_col2 img{

  width: 412px;
  height: 396px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  }
  
.sec3_col2 h6{
  font-family: 'Syne';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 42px;
text-align: center;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sec3_col2 p{
  width: 412px;
height: 40px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #532C59;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.sec3_col3{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 1300px;
height: 548px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.card4{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 412px;
height: 506px;
flex: none;
order: 0;
flex-grow: 1
}


.par4{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 412px;
height: 94px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.card5{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 412px;
height: 506px;
flex: none;
order: 0;
flex-grow: 1
}


.par5{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 412px;
height: 94px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.card6{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 412px;
height: 506px;
flex: none;
order: 0;
flex-grow: 1
}


.par6{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 412px;
height: 94px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.sec3_col3 h6{
  font-family: 'Syne';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 42px;
text-align: center;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sec3_col3 p{
  width: 412px;
height: 40px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #532C59;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}


.sec3_col4{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 1300px;
height: 548px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.card7{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 412px;
height: 506px;
flex: none;
order: 0;
flex-grow: 1
}


.par7{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 412px;
height: 94px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.card8{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 412px;
height: 506px;
flex: none;
order: 0;
flex-grow: 1
}


.par8{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 412px;
height: 94px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.card9{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
width: 412px;
height: 506px;
flex: none;
order: 0;
flex-grow: 1
}


.par9{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 412px;
height: 94px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.sec3_col4 h6{
  font-family: 'Syne';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 42px;
text-align: center;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sec3_col4 p{
  width: 412px;
height: 40px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #532C59;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.sec4{
width: 1440px;
height: 532px;
flex: none;
order: 4;
flex-grow: 0;
}

.sec4_col1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 80px;
  
  position: absolute;
  width: 1300px;
  height: 372px;
  left: calc(50% - 1300px/2);
  
  
}

.col6{
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;
width: 856px;
height: 136px;
flex: none;
order: 0;
flex-grow: 0;
}

.sec4_h{
  width: 856px;
height: 64px;

font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.sec4_p{
  width: 760px;
height: 48px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #532C59;
flex: none;
order: 0;
flex-grow: 1;
margin-top: 10px;
}

.sec4_col2{
  display: flex;

align-items: center;
padding: 0px;
gap: 40px;
width: 1300px;
height: 156px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.sec4_card1{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 301px;
height: 156px;
flex: none;
order: 0;
flex-grow: 1;
}

.sec4_card2{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 301px;
height: 156px;
flex: none;
order: 0;
flex-grow: 1;
}
.sec4_card3{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 301px;
height: 156px;
flex: none;
order: 0;
flex-grow: 1;
}
.sec4_card4{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 301px;
height: 156px;
flex: none;
order: 0;
flex-grow: 1;
}



.sec4_col2 img{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 80px;
height: 80px;
flex: none;
order: 1;
flex-grow: 0;
}


.sec4_col2 h6{
  width: 301px;
height: 32px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #000000;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.sec4_col2 p{
  width: 301px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #532C59;
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}

.sec5{
  width: 1440px;
height: 944px;
flex: none;
order: 5;
flex-grow: 0;
}

.col7{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 80px;

position: absolute;
width: 1300px;
height: 864px;
left: calc(50% - 1300px/2);
/*top: 80px;*/
}

.sec5_h6{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

height: 64px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sec5_h6 h6{
  font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.col8{
  width: 1300px;
height: 720px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.sec5_col1{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

height: 616px;
left: 0px;
right: 0px;
top: 0px;
}

.row1{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 412px;
height: 616px;
flex: none;
order: 0;
flex-grow: 1;
}

.row1_card1{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 24px;
gap: 24px;
width: 412px;
height: 208px;
background: #FFFFFF;
border: 1px solid #D6BCFA;
border-radius: 10px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}


.row1_card2{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 24px;
gap: 24px;
width: 412px;
height: 184px;
background: #FFFFFF;
border: 1px solid #D6BCFA;
border-radius: 10px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.row1_card3{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 24px;
gap: 24px;
width: 412px;
height: 160px;
background: #FFFFFF;
border: 1px solid #D6BCFA;
border-radius: 10px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sub1{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 364px;
height: 160px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sub2{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 364px;
height: 136px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sub3{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 364px;
height: 112px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}



.row1_col1{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 364px;
height: 160px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.id{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
width: 364px;
height: 48px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}


.row1_id{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 308px;
height: 44px;
flex: none;
order: 1;
flex-grow: 1;
}

.row1_h5{

  width: 308px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.row1_h6{
  width: 308px;
height: 24px;
opacity: 0.5;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.row1 img{
 
border-radius: 80px;
flex: none;
order: 0;
flex-grow: 0;
}


.row1 h5{
  width: 308px;
height: 20px;

  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #000000;
flex: none;
order: 0;
flex-grow: 1;
}

.row1 h6{
  width: 308px;
height: 24px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
opacity: 0.5;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.info{
  width: 364px;
height: 96px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #532C59;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}


.row2{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 412px;
height: 616px;
flex: none;
order: 1;
flex-grow: 1;
}

.row2 img{
 
  border-radius: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  
  
  .row2 h5{
    width: 308px;
  height: 20px;
  
    font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 1;
  }
  
  .row2 h6{
    width: 308px;
  height: 24px;
  
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.5;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  }
  


.row3{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;
width: 412px;
height: 616px;
flex: none;
order: 1;
flex-grow: 1;
}

.row3 img{
 
  border-radius: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  
  
  .row3 h5{
    width: 308px;
  height: 20px;
  
    font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 1;
  }
  
  .row3 h6{
    width: 308px;
  height: 24px;
  
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.5;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  }
  


.row2_card1{

box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 24px;
gap: 24px;
width: 412px;
height: 160px;
background: #FFFFFF;
border: 1px solid #D6BCFA;
border-radius: 10px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.row2_card2{
  box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 24px;
gap: 24px;
width: 412px;
height: 184px;
background: #FFFFFF;
border: 1px solid #D6BCFA;
border-radius: 10px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.row2_card3{
  box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 24px;
gap: 24px;
width: 412px;
height: 208px;
background: #FFFFFF;
border: 1px solid #D6BCFA;
border-radius: 10px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.row3_card1{

  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 24px;
gap: 24px;
width: 412px;
height: 184px;
background: #FFFFFF;
border: 1px solid #D6BCFA;
border-radius: 10px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }

  .row3_card2{
    box-sizing: border-box;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 24px;
gap: 24px;

width: 412px;
height: 184px;
background: #FFFFFF;
border: 1px solid #D6BCFA;
border-radius: 10px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }

  .row3_card3{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 412px;
    height: 136px;
    background: #FFFFFF;
    border: 1px solid #D6BCFA;
    border-radius: 10px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
  }

.sub4{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 364px;
height: 112px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sub5{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 364px;
height: 136px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sub6{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 364px;
height: 160px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sub7{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 364px;
height: 136px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sub8{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 364px;
height: 136px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sub9{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 364px;
height: 88px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sec6{
  width: 1440px;
height: 606px;
flex: none;
order: 6;
flex-grow: 0;
}

.col9{
  box-sizing: border-box;
position: absolute;
width: 1300px;
height: 446px;
left: calc(50% - 1300px/2);
background: #FCFAFF;
border: 1px solid #D6BCFA;
box-shadow: inset 0px 0px 50px #F8E0FA;
border-radius: 60px;
}

.sec6_col1{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;
position: absolute;
width: 710px;
height: 212px;
left: calc(50% - 710px/2);
top: calc(50% - 212px/2);

}

.sec6_col2{
 

padding: 0px;
gap: 16px;
width: 710px;
height: 128px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.sec6_h{
  width: 710px;

font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.sec6_p{
  width: 710px;
height: 48px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #532C59;
flex: none;
order: 0;
flex-grow: 0;
}

.sec6_b{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;
width: 156px;
height: 52px;
flex: none;
order: 1;
flex-grow: 0;
margin-top: 30px;
}

.sec6_b button{
 
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
width: 156px;
height: 52px;
background: #532C59;
border-radius: 15px;
flex: none;
order: 2;
flex-grow: 0;
}

.sec6_b a{
  font-family: 'Syne';
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.foo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 250px 40px;
  gap: 40px;
  width: 1440px;
  height: 261px;
  flex: none;
  order: 7;
  flex-grow: 0;
}

.f1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 1300px;
  height: 40px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0; 

}

.f1_row1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  
  width: 534.5px;
  height: 20px;
 flex: none;
  order: 0;
  flex-grow: 1;
}

.f1 a{
 text-decoration: none;
height: 20px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #000000;
opacity: 0.5;
flex: none;
order: 1;
flex-grow: 0;
}

.f1_row2{
width: 151px;
height: 40px;
flex: none;
order: 1;
flex-grow: 0;
}

.f1_row3{
  display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 24px;
width: 534.5px;
height: 20px;
flex: none;
order: 2;
flex-grow: 1;
}

.f2{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 40px;
width: 1300px;
height: 20px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.f2 a{
  
  text-decoration: none;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.5;
  flex: none;
  order: 1;
  flex-grow: 1;
}