* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  header {
    background-color: #ffffff;
    border-bottom: 1px solid #f8e0fb;
  }

.con1{
   
    width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 1440px;
    height: 76px;
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
    display: flex;
    order: 0;
    flex-grow: 0;
    justify-content: space-between;
    
}

header .logo{
position: absolute;
width: 151px;
height: 40px;
left: calc(50% - 151px/2 - 0.5px);
top: calc(40px/2);
}




.list1{
display: flex;
padding: 0px;

justify-content: space-between;
width: 274px;
height: 44px;
left: 70px;
margin-top: 16px;
list-style:none;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 16px;

opacity: 0.5;

}

.list1 li{


  align-items: center;
  padding: 12px;
  height: 44px;

}

.list1 li a{
  text-decoration: none;
  color: black;
  line-height: 20px;
}


.list2{
  display: flex;
  padding: 0px;
  
  justify-content: space-between;
  width: 274px;
  height: 44px;
  right: 70px;
  margin-top: 16px;
  list-style:none;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  
  opacity: 0.5;
  
  }
  
  .list2 li{
  
  
    align-items: center;
    padding: 12px;
    height: 44px;
  
  }
  
  .list2 li a{
    text-decoration: none;
    color: black;
    line-height: 20px;
  }

  .sec1{
    width: 1440px;
    height: 574px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .sec1_con1{
    
 
    position: absolute;
    height: 500px;
    left: 0px;
    right: 0px;
    top: calc(50% - 500px/2);

    
  }

  .sec1_con2 {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    left: calc(50% - 856px/2);
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);

    
  }

  .col2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    left: calc(50% - 856px/2);
    top: 80px;

  }

.sec1_con3 h1{
font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;
text-align: center;
color: #000000;
text-shadow: -5px 5px 0px #FFFFFF;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
  }


  .sec1_con4{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 48px;
gap: 10px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

  }
  
  .sec1_con4 p{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    flex: none;
    order: 0;
    flex-grow: 1;
  }


  .sec1_con5 button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 114px;
    height: 52px;
    background: #532C59;
    border-radius: 15px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }


  .sec1_con5 button a{
    font-family: 'Syne';
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .sec2{
    width: 1440px;
    height: 120px;
   opacity: 0.8;
   flex: none;
   order: 2;
   flex-grow: 0;
   margin-top: 40px;
  }
  
  .col4{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 48px;
  
  }


  .col4 img{
    position: absolute;
    width: 1300px;
    height: 40px;
  left: calc(50% - 1300px/2);
 
  }
  

